<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDszWHlF2qZ7jHfQCawY9wOXb9jay797WA</string>
	<key>GCM_SENDER_ID</key>
	<string>833456375774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uniminuto.newsapp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-63fd1</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-63fd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833456375774:ios:7c61f211938c4e5a92ff4f</string>
</dict>
</plist>